table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;

  thead th {
    background-color: #ddefef;
    border: solid 1px #ddeeee;
    color: #336b6b;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
  }

  tbody td {
    border: solid 1px #ddeeee;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
  }
}

label {
  margin-left: 8px;
  margin-right: 4px;
}

mat-form-field {
  margin-right: 16px;
}
